.slider {
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
  }

  .slide {
    width: 100%;
    max-width: 800px;
    height: 350px;
    margin-top: 30%;
    position: absolute;
    transition: all 0.5s;
  }